.main {
  background-color: black;
}
.k {
  display: flex;
  align-items: center;
  background-color: white;
  height: 90px;
  width: 264px;
  border-radius: 30px 30px 0px 0px;
}
.k img {
  margin-left: 5px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  font-size: 10px;
}
.k h3 {
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 0px;
}
.block-container {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  /* padding-top: 10px; */
  margin-top: 80px;
  width: 264px;
  height: 570px;
  background: linear-gradient(
    180deg,
    rgba(185, 251, 255, 0.7) 0%,
    rgba(209, 201, 241, 0.7) 100%
  );

  border-radius: 30px;
}
.css-1v0mbdj.etr89bj1 {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
.css-1v0mbdj.etr89bj1 img {
  width: 33px;
  height: 30px;
}
.css-1b0udgb.etr89bj0 {
  font-size: 10px;
  font-weight: bold;
}
.css-1cc1g65.e1tzin5v0 {
  display: flex;
  height: 50px;
  justify-content: flex-start;
}
.row-widget.stTextInput.css-rj343g.edfmue0 {
  display: flex;
  justify-content: center;
}
.st-bd.st-b3.st-be.st-b8.st-bf.st-bg.st-bh.st-bi.st-bj.st-bk.st-bl.st-bm.st-bn.st-b1.st-bo.st-au.st-ax.st-av.st-aw.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bp.st-bq.st-br.st-bs.st-bt.st-bu.st-bv {
  width: 95%;
  display: flex;
  justify-content: center;
}
.st-b3.st-b8.st-bw.st-b1.st-bo.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bx.st-bt {
  width: 95%;
  display: flex;
  justify-content: center;
}
.row-widget.stButton {
  width: 10%;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
